



.bodyl{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar-self{
    position: fixed;
    left: -600px;
    width: 450px;
    height: 100%;
    background: #fefffe;
    transition: all .4s ease;
}

.center{
    padding-left: 90px;
}

.secondMenu{
    background: #fffefe;
}


.el-menu-item:hover:hover span {
    padding-left: 20px;
}

span {
    font-size: 13px;
    transition: .3s;
}


#check{
    display: none;
}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #fefeff;
    border-radius: 20px;

}

label #btn{
    left: -150px;
    top: 100px;
    font-size: 20px;
    color: black;
    padding: 9px 9px;
    transition: all .4s;
}

label #cancel{
    z-index: 1111;
    left: 0px;
    top:100px;
    font-size: 20px;
    color: #0a5275;
    padding: 9px 9px;
    transition: all .4s;
}
label #cancel:hover{
    transform: scale(1.2);
    background: #eff3f9;
}

#check:checked ~ .sidebar-self{
    left: -150px;


}
#check:checked ~ label #btn{
    left: -150px;
    opacity: 0.5;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 250px;

}

#check:checked ~ #page{
    margin-left: 300px;
    width: 1400px;
    transition: all .5s;
}

#page{
    background: #eff3f9;
    width: 1700px;
    height: 748px;
    position: absolute;
    left: 5px;
    top:90px;
    border-radius: 10px;
}




